.mycards{
    background-color: rgb(208, 224, 219);

}
.card {
    display: flex;
    flex-direction: column;
    width: clamp(2rem, calc(14rem + 1vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

  
  }
  .profile{
    position: relative;
    width: 100px;
    height: 100px;
    left: 50px;
  
 border-radius: 50%;
background: #cac2c2;
  }
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  
  
  
  
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  
  .user__info > small {
    color: #666;
  }